{% extends "admin/base.html" %} 
{% block title %} 
    {% if subtitle %}{{ subtitle}}
| {% endif %}{{ title }} | 
{{ site_title|default:_('Django site admin') }} 
{% endblock %} 
{% block branding %}
<h1 id="site-name">
  <a href="{% url 'admin:index' %}">Admin site</a>
</h1>
{% endblock %} {% block nav-global %}{% endblock %}
